.border{
    border: 1px solid #ccc;
    padding: 0px;
}

.serverWait{
    border: 1px solid red;
}

.fc-other-month{
    background-color: black;
}


.fc-day-number {
    float: right;
    padding: 0 2px;
    color: darkblue
}

.fc-other-month .fc-day-number {
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* for IE */
    /* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
}
.spinDiv{
    text-align: center;
    padding: 10px
}